@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Open+Sans:wght@500;700&family=PT+Serif:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto";

}

:root {
    --cor-azul-escuto: #1E1C21;
    --cor-branco-: #fff;
    --cor-vermelho: #C31616;
    --cor-azul-escuro-rgb: 30, 28, 33;
    --cor-azul-escuro: #1E1C21;
    --cor-button: #0B216F:
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 4rem
}

header {
    background: rgba(var(--cor-azul-escuro-rgb), 0.87);

}

.content-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5.6rem;
}

header .menu {
    display: flex;
    justify-content: end;
    gap: 1rem;
    align-items: center;
    width: 60%;
    height: 100%;
}

header .menu a {
    font-family: "Roboto-Light";
    text-transform: uppercase;
}

header .menu-bars {
    display: none;
}

.whapper-banner_pilotos {
    background-image: url(./imagem/banner_pilotos.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
    border: none;

}

.whapper-banner_cs {
    background-image: url(./imagem/banner_cs.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
    border: none;
}

.whapper-banner_lol {
    background-image: url(./imagem/banner_lol.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
    border: none;
}

.btn-liga {
    background-color: var(--cor-vermelho);
    border: none;
}

.banner_patrocinadores {
    background: rgba(var(--cor-azul-escuro-rgb), 0.87);
}

.card-vendas {
    padding: 0px;
}

.banner_vendas {
    background: rgb(var(--cor-azul-escuro-rgb));
}


.card-box {
    background: linear-gradient(180deg, #000000 0%, rgba(196, 196, 196, 0) 100%);
    box-shadow: 1px 1px 20px 4px #000000;
    color: var(--cor-branco-);
}

.imgem-fundo {
    background-image: url(./imagem/banner_lol.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 566px;

}

.paralelograma {
    width: 100%;
    height: 460px;
    transform: skewY(-4deg);
    background: var(--cor-azul-escuro);
    position: relative;
    top: 3rem;
    color: var(--cor-branco-);
}

.descricao {
    transform: skewY(3deg);
}

.title-participar {
    font-size: 3rem;
}

.footer-color {
    background: var(--cor-azul-escuro);
    color: var(--cor-branco-);
}


.button-enviar {
    background: #0B216F;
    color: var(--cor-branco-);
}

.link {
    order: 0;
}

.paginas {
    order: 1;
}

.logo-footer {
    order: 2;
}

.box-inpult {
    order: 3;
}

.banner_descricao {

    bottom: 45% !important;
    left: 50% !important;

}

.text-produtos {
    padding-left: 7rem;
}


@media only screen and (max-width:991px) {
    .imagem {
        display: none;
    }
 

    header .menu {
        position: fixed;
        top: 0px;
        left: -80%;
        z-index: 100;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 70%;
        height: 100%;
        padding: 20px 50px;
        background-color:rgba(var(--cor-azul-escuro-rgb), 0.87);
        border-radius: 0 0 0 90px;
        transition: left 0.4s, opacity 0.5s;
    }

    header .menu a {
        margin-bottom: 1rem;
        padding:1rem;
        border-left: 3px dotted #AAB0AE;
        font-size: 1.4rem;
    }

    header .menu-bars {
        display: block;
        width: 2rem;
    }

    .mostraEscondeMenu {
        left: 0 !important;
        opacity: 1 !important;
    }



    .descricao {
        width: 100% !important;
        margin-bottom: 0 !important;
        margin-top: 2rem;
    }

    .footer-color {
        height: auto;
        padding: 0 1rem;
    }

    .link {
        order: 1;

    }

    .paginas {
        order: 2;
    }

    .logo-footer {
        order: 0;
        width: 100%;
        text-align: center;


    }

    .box-inpult {
        order: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .titulo {
        font-size: 1rem;
        text-align: center;

    }

    .redes-social {
        display: flex;
        flex-direction: column;
    }

    .descricao-footer {
        width: 100% !important;
    }

    .box-links {
        flex-direction: column;
    }

    .conteudo-icons {
        display: flex;
        flex-direction: column;
    }

    .banner_descricao {
        width: 100%;
        bottom: 43% !important;
        left: 0% !important;
    }
}

@media only screen and (max-width:576px) {
    .caixa-email {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        border-radius: 0;
    }

    .caixa-inpult {
        width: 100% !important;
        margin-bottom: 1rem;
        border-radius: 0;
    }

    .banner_patrocinadores {
        display: none;
    }

    h1 {
        font-size: 2rem !important;
    }

    .text-produtos {
        padding-left: 3rem;
    }
    .logo{
        width: 13rem;
    }
    header .menu-bars {
        width:1.5rem;
    }


}